---
layout: default
---

<!-- Move archive, categories, search, here with site name and site description -->

<!-- <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a> -->

<div class="margin-top-large paper border border-4" style="border-bottom-left-radius: 13px 68px;border-bottom-right-radius: 72px 11px;border-top-right-radius: 11px 66px;">
  <h2 class="site-name text-center"><a href="{{ site.baseurl }}/"
      style="background-image: none; font-size: 1.9rem; letter-spacing: 1px; text-align: center;"><span
        style="color: #d22b2b;">D</span>aemon's Disciple</a>
  </h2>
  <p class="site-description text-center">{{ site.description }}</p>

  <ul class="inline padding-none text-center">
    <li><a class="card-links" href="{{ site.baseurl }}/archive">Archive</a></li>
    <li><a class="card-links" href="{{ site.baseurl }}/categories">Categories</a></li>
    <li><a class="card-links" href="{{ site.baseurl }}/search">Search</a></li>
  </ul>
</div>


<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h1>{{ post.title }}</h1>

      <div>
        <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
      </div>
    </a>
    <div class="entry">
      {{ post.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
    <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page
      }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>