<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <!-- Wired JS -->
    <script type="module" src="https://unpkg.com/wired-elements?module"></script>
    
    <!-- Paper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">
    
    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    {% include analytics_head.html %}
  </head>

  <body>
    <div class="paper">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <!-- <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a> -->

            <!-- <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div> -->

            <!-- NAVBAR STARTS -->

            <nav class="border border-2 border-dark shadow shadow-large fixed split-nav">
              <div class="nav-brand">
                <h3><img src="/images/logo.png" alt="logo" width="59vh" class="border-white"></h3>
              </div>
              <div class="collapsible">
                <input id="collapsible1" type="checkbox" name="collapsible1">
                <label for="collapsible1">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
                </label>
                <div class="collapsible-body">
                  <ul class="inline">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="{{ site.baseurl }}/archive">Archive</a></li>
                    <li>

                      <div id="search-container">
                        <wired-search-input placeholder="Search here" style="font-family: Neucha,sans-serif;" elevation="3">
                            Search box
                        </wired-search-input>
                        <ul id="results-container"></ul>
                    </div>

                    </li>
                    <li><a href="https://shubhendra-rajkarne.github.io/">Portfolio</a></li>
                  </ul>
                </div>
              </div>
            </nav>

            <!-- NAVBAR ENDS -->

          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="padding-top-large">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>


    <script src="{{ site.baseurl }}/assets/simple-jekyll-search.min.js" type="text/javascript"></script>

    <script>
        SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        searchResultTemplate: '<div style="text-align: left !important;"><a href="{url}"><h1 style="text-align:left !important;">{title}</h1></a><span style="text-align:left !important;">{date}</span></div>',
        json: '{{ site.baseurl }}/search.json'
        });
    </script>

    <!-- {% include analytics.html %} -->
  </body>
</html>
