<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  {% seo title=false %}
  {% include meta.html %}

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
    href="{{ site.baseurl }}/feed.xml" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <!-- Paper CSS -->
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">

  <meta name="theme-color" content="#000000">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Newsletter style  -->
  <style>
    #sib-container input:-ms-input-placeholder {
      text-align: left;
      font-family: "Neucha", sans-serif;
      color: #c0ccda;
    }

    #sib-container input::placeholder {
      text-align: left;
      font-family: "Neucha", sans-serif;
      color: #c0ccda;
    }

    #sib-container textarea::placeholder {
      text-align: left;
      font-family: "Neucha", sans-serif;
      color: #c0ccda;
    }
  </style>
  <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">

 
</head>

<body>
  <div class="paper">
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <!-- <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a> -->

          <!-- <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div> -->

          <!-- NAVBAR STARTS -->

          <nav class="border border-2 border-dark shadow shadow-large fixed split-nav" id="paper-nav" style="transition: 0.5s ease-in-out;">
            <div class="nav-brand">
              <h3><a href="{{ site.baseurl }}/"><img src="/images/logo.png" alt="logo" width="59vh" class="border-white"></a></h3>
            </div>
            <div class="collapsible">
              <input id="collapsible1" type="checkbox" name="collapsible1">
              <label for="collapsible1">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </label>
              <div class="collapsible-body">
                <ul class="inline">
                  <li><a href="{{ site.baseurl }}/">Home</a></li>
                  <li><a href="https://shubhendra-rajkarne.github.io/">Portfolio</a></li>
                  <li><a href="{{ site.baseurl }}/about">About</a></li>
                  <li style="all: initial;"><button class="contact-nav paper-btn btn-primary" onclick="showContactMe()">Contact Me</button></li>
                </ul>
              </div>
            </div>
          </nav>

          <!-- NAVBAR ENDS -->

          <!-- CONTACT MODAL -->

          <input class="modal-state" id="modal-1" type="checkbox">
          <div class="modal">
            <label class="modal-bg" for="modal-1"></label>
            <div class="modal-body">
              <label class="btn-close" for="modal-1">X</label>
              <h4 class="modal-title">Contact Me</h4>

              <form action="https://formspree.io/f/xleagavq" method="POST">
                <label">
                  Your email:
                  <input style="width: 100%; margin-bottom: 5%;" type="email" name="_replyto"
                    placeholder="Email address" required>
                  </label>

                  <label>
                    Subject:
                    <input style="width: 100%; margin-bottom: 5%;" type="text" name="subject" placeholder="Subject"
                      required>
                  </label>

                  <label>
                    Your message:
                    <textarea style="width: 100%; margin-bottom: 5%;" name="message"
                      placeholder="What's on your mind?"></textarea>
                  </label>

                  <button type="submit" class="btn-block btn-success">Send</button>
              </form>
            </div>
          </div>

          <!-- CONTACT MODAL ENDS -->

        </header>
      </div>
    </div>

    <div class="wrapper-main">
      <div id="main" role="main" class="container padding-top-large">
        {{ content }}
      </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}

          <!-- Newsletter Scripts  -->

          <script>
            window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  
            window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
  
            window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";
  
            window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
  
            window.translation = {
              common: {
                selectedList: '{quantity} list selected',
                selectedLists: '{quantity} lists selected'
              }
            };
  
            var AUTOHIDE = Boolean(0);
          </script>
          <script src="https://sibforms.com/forms/end-form/build/main.js"></script>
          
        </footer>
      </div>
    </div>
  </div>

  <!-- Show ContactMe modal function -->
  <script>
    function showContactMe(){
      modalElement = document.getElementById("modal-1")
      modalElement.click()
    }

    // Hide navbar on scroll

    // Inital scroll position 
    var prevScrollPos = window.pageYOffset;
    window.onscroll = function() {
      // Checks if the current scroll position exceeds that of previous position.
      var currentScrollPos = window.pageYOffset;
      var navbarElement = document.getElementById("paper-nav")
      if (prevScrollPos > currentScrollPos) {
        navbarElement.style.top = "0";
      }else {
        navbarElement.style.top = "-95px";
      }
      // Now, update the previous scroll position with prev scroll position
      prevScrollPos = currentScrollPos
    }
  </script>
 
</body>

</html>